.close_icon,
.menu_icon,
.wallet-title,
.cw-title,
.d-hide {
    display: none;
}


.d-hide {
    display: none !important;
}

.al-s {
    align-self: flex-start;
}

@media only screen and (max-width: 600px) {

    .m-flex {
        display: flex !important;
    }

    .logo-m {
        width: 150px !important;
        display: block;
    }

    .logo-nav-m {
        width: 60px;
        object-fit: contain;
    }

    .navbar_container_m {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .search_box-m {
        margin-left: auto !important;
       margin-right: 6.6% !important;
    }

    .close_icon {
        /* display: block !important; */
        margin-left: auto;
        margin-top: 4px;
        color: #525151;
        cursor: pointer;
        display: none;
    }


    .nav-bg {
        position: fixed;
        z-index: 99;
       width: 100%;
        background: rgba(255, 255, 255, 0.336) !important;
        box-shadow: 0 15px 10px rgba(148, 148, 148, .1);
        -webkit-backdrop-filter: blur(6.3px);
        backdrop-filter: blur(6.3px);
    }


    .al-s-m {
        align-items: flex-start;
    }


    .menu_icon {
        align-self: flex-start;
        margin: 1rem;
    }

    .cw-title {
        font-weight: 500;
        font-size: 22px;
    }

    .wallet-title {
        padding-top: 16px;
    }

}