.products-wrapper {
  /* height: 88vh; */
  margin-right: 1rem;
  overflow: auto;
  margin-top: 5rem;
  
}

.cart-icon {
  background-color: whitesmoke;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.price {
  padding-left: 2px;
  color: black;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: auto;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -2%;

  .price-value {
    font-size: 22px;
    font-family: "PT mono", sans-serif;
    letter-spacing: -8%;
  }
}

.img-container {
  margin: 0 auto;
}


@media only screen and (max-width: 600px) {

  .carousel-item-m,
  .carousel_item {
    height: 100px !important;
    width: 90vw !important;

    /* &:hover,
    &:focus-within,
    &:focus,
    &:focus-visible {
      height: 200px !important;
      transition: all 0.3s linear;
    } */


    .title {
      font-size: 16px !important;
      border-radius: 4px;
    }
  }

  .active-carousel-item-m {
    .carousel_item{
    height: 200px !important;
    transition: all 0.3s linear; 
    }
  }

  .grid-container-m {
    .q {
      width: 95% !important;
    }

    .q1,
    .q4 {
      height: 150px !important;
    }
  }


  .slider-img{
       width: 60px !important;

  }

  .products-container-m{
    /* min-width: 44vw;
    max-width: min(90vw,250px) ;
    width:90vw !important; */
    height: auto !important;
    width: 44vw !important;
  }

  .products-wrapper{
    margin-right: 0px;
  }


  .cart_items_container_m{
    width: 100vw !important;
    .item-title{
      font-size: 14px !important;
      font-weight: 650;
    }
  }

.cart-item-img{
  height: auto !important;
  width: 150px !important;
}

.cart-item-wrapper{
  width: auto !important;
  padding-bottom: 5px;
  padding-top:1rem;
  position: relative;

  .item-title{
    position: absolute;
    top:0;
    left:0;
  }
}

.count-wrapper{
  padding:0 !important;
}

.rating_container_m{
  font-size: 12px;
  border-width: 0px !important;
  svg{
    color:yellow;
  }
}
}
