.products-wrapper {
  height: 88vh;
  margin-right: 1rem;
  overflow: auto;
}


.cart-icon {
  background-color: whitesmoke;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}


.price {
  padding-left: 2px;
  color: black;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: auto;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -2%;

  .price-value {
    font-size: 22px;
    font-family: "PT mono", sans-serif;
    letter-spacing: -8%;

  }
}

.img-container {
  margin: 0 auto;
}


@media only screen and (max-width: 600px) {
.carousel-m{



}

.carousel-item-m , .carousel_item{
  height: 100px !important;
  width: 90vw !important;

  &:hover, &:focus-within,&:focus, &:focus-visible {
    height:200px !important;
    transition: all 0.3s linear;
  }

  .title{
    font-size: 16px !important;
    border-radius: 4px;
  }
}

}