.subheading {
  padding: 8px 0;
  border-bottom: 1px solid black;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-content {
  width: 500px;
}

.add_wishlist_btn_container {
  width: max-content;
  margin: 1.25rem auto;

  .btn:hover {
    background-color: rgba(13, 90, 90, 0.943);
  }
}



.total-compute-section {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
}

.img-selector__active {
  border: 1.5px solid #000000;
}

@media only screen and (max-width: 600px) {
.selected-product-wrapper-m,.product-content{
max-width: 100vw !important;

img{
height: auto !important;
}
.title{
  font-size:21px !important;
}
}

.product-content{
  padding-left: 1.25rem;
  padding-right: 1.25rem;


  .sku{
    text-align: left;
  }
}


.img-container_m{
  height: 60vw !important;
  width: 80vw !important;
  /* border-bottom: 1px solid #bababa; */
}
.separator{
  width: 90vw;
  height: 1px;
  background-color: #b8b5b5;
  margin:1rem auto;
}
}